html {
    height: 100%;
    border: 2em solid transparent;
    border-image: url(../images/rose.png) 60 round;
    background-color: rgb(252, 225, 191);
}

body {
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

p {
    font-size: large;

}

.holder {
    display: flex;
    justify-content: center;
}

#redirectBtn {
    text-align: center;
    font-size: large;
    font-family: serif;
    padding: 0.8em;
}